/* Preloader */
.loader {
  /* Cover all page */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Centering and putting background color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-hide {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #838383;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  box-shadow: none;
  transition: background-color 5000000s ease-in-out 0s;
}

html {
  font-size: 16px;
}

body {
  background-color: #2f2f2b;
  margin: 0;
  padding: 0;
}
